.Author {
  .Container {
    display: grid;
    gap: 200px;
    grid-template-columns: repeat(2,1fr); 
    margin: 155px 175px;
  }
  
  .CardAuthor {
    background: rgb(184, 183, 183);
    border-radius: 20px;
    padding: 25px 1px;
  &-frase {
    font-size: 16px;
    margin: -62px 121px;
    position: absolute;;
  }

  &-name {
    font-size: 20px;
    font-weight: bold;
    margin: 0 120px;
  }

  p {
    font-size: 16px;
    font-weight: bold;
    margin: 0 120px;
  } 
  }

  img {
    max-width: 70px;
  }

}