.Hero {
  .Container {
    display: grid;
    gap: 45px;
    margin: 120px 220px;
  }

  img {
    max-width: 35px;
  }

  &-title {
    font-size: 20px;
    font-weight: 600;
    margin: -27px 70px;
  }

  .Photo {
    margin: -400px 540px;
    max-width: 480px;
    position: absolute;
    
  }

 .Form {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  .Ligamos {
    border: 0;
    background-color: rgb(189, 22, 22);
    border-radius: 7px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: -25px 200px;
    position: absolute;
    padding: 5px 30px;
  }
  
}